.breadcrumb {
	background: none;
}

.padded-1 {
    padding-left: 1em !important;
}

.padded-2 {
    padding-left: 2em !important;
}

.padded-3 {
    padding-left: 3em !important;
}

.padded-4 {
    padding-left: 4em !important;
}

.summary {
    background-color: #eef;
}
.active-highlight {
    background-color: #FFFF00;
}
.highlight {
    background-color: #ffff99;
}
.sub-highlight {
    background-color: #ffffcc;
}

.header_wrapper {
    margin-bottom:2em;
}
.navigation-list {
    padding-left: 0;
}
.navigation-list li {
    margin-bottom:0.5em;
}

.navigation-list li {
    /*border-left: 6px solid #b2c4d7;
    padding-left: 10px;
    margin-left: -17px;*/
    list-style: none;
    padding: 0.2em;
}
.navigation-list .selected {
    /*border-left: 6px solid #336699;*/
    padding-left: 22px;
    margin-left: -18px;
    background-color: #336699;
}
.navigation-list .selected a,
.navigation-list .selected a:hover {
	color: white;
}
li.selected {
    display: block;
}
li.selected:after  {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid red;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
header {
    background-color: #336699;
}
header h1 {
    font-size: 24px;
    margin-left: 85px;
    text-transform: none;
    color: #FFFFFF;
    /*font-weight: bold;*/
}
header img {
    float: left;
}
.header-wrapper {
    padding: 1em;
}
nav.navigation {
    background-color: #003366;
}
nav.navigation a {
    text-transform: uppercase;
    color: #ffffff;
}
nav.navigation ul.nav a:hover {
    color: #003366;
    background-color: #dddddd;
}
nav.navigation ul.nav li.active a {
    color: #003366;
    background-color: #ffffff;
}
.documents-list {
    /*font-size: 80%;*/
   padding-right: 0;
}
.breadcrumb-wrapper {
    border-bottom: 2px solid #003366;
}
.breadcrumb-wrapper .breadcrumb {
    margin-bottom: 0;
}
.table-wrapper table {
    margin-left: -8px;
}
h1 .subheader {
    font-size: 77%;
    text-transform: uppercase;
}
.form-table {
    font-size: 11px;
}
.form-table td {
    border: 1px solid #DDDDDD !important;
}
img.left-aligned {
    float: left;
}

.nav-font {
	font-family: 'RistrettoPro-Regular';
	font-size: 24px; 
}

.top-line-menu {
	margin-left: -15px;
}

.navbar-nav > li > a {
	padding: 15px 10px;
}

.super-navigation {
	padding-left:0;
}

.super-navigation li {
	list-style: outside !important;
}

.super-navigation li > a {
	text-decoration: underline;
	padding: 5px 10px;
}

.super-navigation li li {
	padding: 5px 0;
}

.super-navigation li li a {
	padding: 0;
}
.search-block {
	color: white;
	padding-top: 40px;
}

.search-block label {
	position: relative;
	left: -150px;
}

.news-wrapper {
	font-size: 85%;
}

footer {
	background-color: #336699;
	color: white;
}

.footer-copy {
	background-color: #003366;
	color: white;
}

footer .row {
	padding: 1em;	
}

footer a {
	color: white;
	text-decoration: underline;
}
footer a:hover {
	color: #eeeeff;
}

.main-content {
	display: table !important;
	/*width: 100%;*/
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content .row {
	display:table-row;
	height: 100%;
}
.main-content .row .col-md-2, 
.main-content .row .col-md-9 {
	display:table-cell;
	float: none; 
}

.main-content .row .col-md-2 {
	background-color: #D9E8F7;
	vertical-align: top;
}

.document {
	word-wrap: pre;
	font-family: "Times New Roman", Times, serif;
}
.document-header {
	border-bottom: 2px solid #336699; 
}
